#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    .xd{
        z-index: 0;
    }
}
.row{
    --bs-gutter-x: 0rem;
}
.accordion-item{
    background-color: transparent;
    border: none;
    .accordion-button{
        background-color: transparent;        
        color: #fff;
        text-align: center;
        &:focus{
            border: none;
            box-shadow: none;
        }
    }
}
.accordion-button:not(.collapsed){
    color: #d50000;
}
.accordion-button:not(.collapsed)::after{
    background-image:url("../img/up-arrow.png");
}

.accordion-button::after{
    background-image: url("../img/32195.png");
}

.accordion-body{
    color: #fff;
}