#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .projects-inner{
        flex-direction: row;
        width: 100%;
        .carousel-container{
            overflow-y: hidden;
        }
    }

    .col-left, .col-right{
        background-color: transparent;
        overflow-y: hidden;
        height: 75vh;
    }
    .col-left{
        border-top: solid 3px transparent;
        border-bottom: solid 3px transparent;
    }
    .col-right{
        border-radius: 5px;
        border: solid 3px #d50000;
        overflow-y: hidden;
    }
    .project-element{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: hidden;
        height: 100%;
        .project-title{
            margin: 0;
            overflow-y: hidden;
            color: #d50000;
            text-align: center;
        }
        .carousel-container{
            overflow-y: hidden;
            width: 65%;
        }
        .container-text-project{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .nav-project{
            margin: 10px 0px;
            padding: 0;
        }
        

        .btn-project-inner{
            border-bottom: solid 2px transparent!important;
            color: #fff;
            border-radius: 0;
            &:hover{
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
                border-bottom: solid 2px #d50000!important;
            }
        }
        .activo{
            border-bottom: solid 2px #d50000!important;;
        }

        .menu-project{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: flex-start;
            height: 100%;
            width: 35%;
        }
    }
    .slider-links-container{
        overflow-y: hidden;
    }
    .project-link-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 10px 0px;
        overflow-y: hidden;
        .project-link{
            background-color: transparent;
            border-top: solid 3px transparent;
            border-left: solid 3px  transparent;
            border-right: none;
            border-bottom: solid 3px  transparent;
            color: #d50000;
            font-size: 17.5px;
            text-decoration: none;
            text-align: center;
            width: 100%;

            &:hover{
                border-top: solid 3px #d50000;
                border-left: solid 3px #d50000;
                border-bottom: solid 3px #d50000;
                color: #fff; 
                transition: ease-in 0.2s;
                
            }
        }
        .activo{
            background-image: linear-gradient(62deg, #d50000, #d60000);
            color: #fff;
        }
    }


    .techs{
        overflow-y: hidden;
    }

    .description{
        color: #fff;
        font-size: 15px;
        margin: 0;
    }

    .imgs-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .img-container{
        display: flex;
        align-items: center;
        padding: 10%;
    }

    .links-out-container{
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

.link-out{
    color: #fff;
    text-decoration: none;
    margin: 10px;
    &:hover{
        transition: ease-in 0.5s;
        color: #d50000;
    }
}